@font-face {
    font-family: 'Billabong';
    src: url('fonts/FontsFree-Net-Billabong.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Avant gardent light';
    src: url('fonts/AVGARDN_2.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Avant gardent bold';
    src: url('fonts/AVGARDD_2.ttf');
    font-weight: bold;
    font-style: normal;
}

:root{
    --title-font: 'Billabong';
    --normal-font: 'Avant gardent light';
    --menu-font: 'Avant gardent bold';
}

*{
    text-decoration: none;
}

body{
    background-color: #FBFBFB;
    margin: 0px;
}

#header{
    width: 100%;
    height: 50px;
    padding: 30px 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px 0px 5px #999;
    position: fixed;
    top: 0%;
    z-index: 1;
    backdrop-filter: blur(10px);
}

#logo{
    flex-basis: 74%;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    max-height: 100%;
}

#logo img{
    width: 5%;
    height: 5%;
    padding-right: 5px;
}

#logo_title{
    flex-basis: 40%;
    font-family: var(--title-font);
    font-size: 60px;
    background: linear-gradient(to right, rgb(0, 0, 255), rgb(0, 195, 255), rgb(235,152,214), rgb(0, 255, 208));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#menu{
    width: 250px;
    height: 100%;
    padding-top: 40px;
    position: fixed;
    z-index: 2;
    right: 0%;
    top: 0%;
    overflow: hidden;
    scroll-behavior: smooth;
}

.menu_button{
    width: 40px;
    height: 40px;
    padding: 8px;
    margin-left: 5px;
    background-color: transparent;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    cursor: pointer;
    border-radius: 5px;
    transition: all 500ms;
}

.menu__element{
    width: 95%;
    height: 4px;
    background-color: black;
    border-radius: 2px;
}

.hidden_menu{
    transition: all 500ms;
    transform: translateX(74%);
}

.expanded_menu{
    transition: all 500ms;
    transform: translateX(0%);
    background-color: #FBFBFB;
    box-shadow: 0px 0px 5px #999;
}

#menu ul{
    list-style: none;
    display: flex;
    flex-direction: column;
}

#menu ul li{
    margin: 20px;
    margin-left: 40px;
}

#menu ul li a{
    display: block;
    font-size: 18px;
    padding: 15px;
    font-family: var(--menu-font);
    background: linear-gradient(90deg, black, rgb(69, 69, 69), rgb(197, 197, 197));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: black;
    transition: all 450ms;
}

#menu ul li a:hover{
    transform: scale(1.1);
}

.notification-li{
    background-color: lightblue;
}

#notification{
    position: relative !important;
}

.notify {
    position: absolute;
    left: -13%;
    top: 35%;
    width: 20px;
    text-align: center;
    font-family: var(--normal-font);
    font-weight: bold;
    color: white;
    background-color: white;
    border-radius: 999px;
    transition: all 300ms;
}

/* CONTENT */

#content {
    margin: 130px 10px;
    padding: 10px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#content > #title {
    text-align: center;
    width: 100%;
}

#title{
    font-family: var(--normal-font);
    font-size: 60px;
    background: linear-gradient(90deg, black, rgb(69, 69, 69), rgb(197, 197, 197));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#subtitle{
    font-family: var(--normal-font);
    font-size: 35px;
    background: linear-gradient(90deg, black, rgb(69, 69, 69), rgb(197, 197, 197));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

/* LOGIN FORM */

#login_form,
#creation_form{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#login_form label,
#creation_form label{
    font-family: var(--normal-font);
    font-size: 22px;
    font-weight: bold;
    color: rgb(69, 69, 69);
}

#login_form input[type=text],
#login_form input[type=password],
#creation_form input[type=text],
#creation_form input[type=password],
#creation_form input[type=email],
#creation_form input[type=date]{
    font-family: var(--normal-font);
    font-size: 15px;
    color: rgb(197, 197, 197);
    background-color: #FBFBFB;
    border: none;
    border-bottom: 1px solid #ccc;
    padding: 20px;
    padding-left: 5px;
    outline: none;
    transition: all 500ms;
}

#creation_form textarea{
    border: 1px solid #ccc;
    border-radius: 5px;
    resize: none;
    font-family: var(--normal-font);
    font-size: 15px;
    padding: 10px;
    padding-left: 5px;
    outline: none;
    color: #999;
}

#creation_form textarea:focus{
    color: black;
}

#login_form input[type=text]:focus,
#login_form input[type=password]:focus,
#creation_form input[type=text]:focus,
#creation_form input[type=password]:focus,
#creation_form input[type=email]:focus,
#creation_form input[type=date]:focus{
    border-bottom: 1px solid blue;
    color: black;
}

#login_form input[type=submit]{
    width: 20%;
    height: 45px;
    align-self: center;
    border: 1px solid #999;
    border-radius: 5px;
    background-color: #FBFBFB;
    font-family: var(--normal-font);
    font-weight: bold;
    letter-spacing: 1px;
    cursor: pointer;
    transition: all 450ms;
}

#creation_form input[type=submit]{
    width: 100%;
    height: 45px;
    margin-top: 30px;
    align-self: center;
    border: 1px solid #999;
    border-radius: 5px;
    background-color: #FBFBFB;
    font-family: var(--normal-font);
    font-size: 19px;
    font-weight: bold;
    letter-spacing: 1px;
    cursor: pointer;
    transition: all 450ms;
}

#login_form input[type=submit]:hover,
#creation_form input[type=submit]:hover{
    box-shadow: 0px 0px 10px #999;
}

#login_form input[type=submit]:active,
#creation_form input[type=submit]:active{
    transform: scale(0.7);
}

#creation_form select{
    font-family: var(--normal-font);
    font-size: 15px;
    padding: 10px 0px;
    border-radius: 5px;
    border: 1px solid #ccc;
    color: #999;
    outline: none;
    margin-bottom: 25px;
}

#creation_form select:focus{
    color: black;
}

#alert-warning{
    background-color: red;
    color: white;
    font-family: var(--normal-font);
    font-size: 18px;
    width: 100%;
    text-align: center;
    position: absolute;
    padding: 5px 0px;
}

#alert-success{
    background-color: rgb(33, 222, 89);
    color: white;
    font-family: var(--normal-font);
    font-size: 18px;
    width: 100%;
    text-align: center;
    position: absolute;
    padding: 5px 0px;
}

/* UPDATE FORM */

.order__section{
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.order__information{
    width: 40%;
    padding: 30px;
    padding-left: 40px;
}

.update_form{
    flex-basis: 47% !important;
}

.order__element{
    font-family: var(--normal-font);
    font-size: 20px;
    margin-bottom: 45px;
    overflow-wrap: break-word; 
}

.counter{
    font-family: var(--normal-font);
    font-size: 15px;
    color: #8d8d8d;
    margin: 10px 5px;
    
}

/* USERS AVAILABLES */

#users,
#suppliers{
    width: 90%;
    height: 500px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items:stretch;
    overflow-y: scroll;
}

#suppliers{
    overflow-x: scroll;
}

.suppliers__column{
    min-width: 250px;
    text-align: center;
}

.users__column--company,
.suppliers__column--full_name{
    background-color: #f0f0f084;
    /* box-shadow: 0px 0px 7px #666; */
}

.suppliers__column--full_name{
    min-width: 580px;
}

.users__column--firstname,
.suppliers__column--type_document{
    background-color: #FBFBFB;
    /* box-shadow: 0px 0px 4px #666; */
}

.users__column--lastname,
.suppliers__column--document_number{
    background-color: #f0f0f084;
    /* box-shadow: 0px 0px 7px #666; */
}

.users__column--rol,
.suppliers__column--bank_account{
    background-color: #FBFBFB;
    /* box-shadow: 0px 0px 4px #666; */
}

.suppliers__column--bank_account{
    background-color: #FBFBFB;
}

.suppliers__column--account_number{
    background-color: #f0f0f084;
}

.suppliers__column-type_account{
    background-color: #FBFBFB;
}

.suppliers__column--company{
    background-color: #f0f0f084;
    min-width: 580px;
}

.suppliers__column--city{
    background-color: #FBFBFB;
    min-width: 580px;
}

.column__title{
    text-align: center;
    font-family: var(--normal-font);
    font-size: 27px;
    background: linear-gradient(90deg, black, rgb(69, 69, 69), rgb(197, 197, 197));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-bottom: 35px;
}

.users__element,
.suppliers__element{
    font-family: var(--normal-font);
    font-size: 18px;
    margin: 15px 0px;
    padding: 10px;
}

/* ORDERS */

#orders,
#payments{
    width: 98%;
    height: 500px;
    justify-content: space-around;
    align-items:stretch;
    overflow-y: scroll;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.orders__column,
.payments__column{
    min-width: 200px;
}

.orders__column--service_description,
.orders__column--remarks{
    min-width: 900px;
}

.payments__column--service_description,
.payments__column--comments{
    min-width: 900px;
    text-align: center;
}

.payments__column--company,
.payments__column--account_owner{
    min-width: 580px;
    text-align: center;
}

.column__title-orders,
.column__title{
    text-align: center;
    font-family: var(--normal-font);
    font-size: 18px;
    background: linear-gradient(90deg, black, rgb(69, 69, 69), rgb(197, 197, 197));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-bottom: 35px;
}

.orders__element,
.payments__element{
    font-family: var(--normal-font);
    font-size: 12px;
    font-weight: bold;
    border-bottom: 1px solid #ccc;
    padding: 10px 10px;
    transition: all 450ms;
}


.orders__element-id > a,
.payments__element-id > a{
    color: black;
    transition: all 450ms;
}

.orders__element-id > a:hover,
.payments__element-id > a:hover{
    color: rgb(0, 132, 255);
    text-decoration: underline;
}

.orders__column--id,
.payments__column--id,
.orders__column--created_at,
.orders__column--finished_at,
.orders__column--deleted_at,
.orders__column--city,
.payments__column--city,
.orders__column--sales_value,
.payments__column--sales_value,
.orders__column--remarks,
.payments__column--in_charge,
.orders__column--assigned_by,
.payments__column--account_owner,
.payments__column--account_number,
.payments__column--amount,
.payments__column--made_by,
.payments__column--rejected_at{
    background-color: #f0f0f084;
}

.orders__column--created_at,
.orders__column--finished_at,
.orders__column--deleted_at,
.orders__column--status{
    text-align: center;
}

/* PAYMENT */

.payment__section{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
}

.payment__information{
    flex-basis: 50%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: start;
    align-items: start;
}

.btn_payment{
    flex-basis: 48%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}


.payment__element{
    flex-basis: 50%;
    font-family: var(--normal-font);
    font-size: 20px;
    margin-bottom: 20px;
    overflow-wrap: break-word; 
}

/* FINISH AND DELETE BUTTONS */

.btn_container{
    width: 100%;
    height: 60px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.finish_order,
.delete_order,
.reject_payment,
.approve_payment{
    font-family: var(--normal-font);
    font-size: 22px;
    text-decoration: none;
    color: black;
    border: 1px solid #999;
    border-radius: 3px;
    padding: 5px;
    transition: all 450ms;
}

.finish_order:hover,
.delete_order:hover,
.reject_payment:hover,
.approve_payment:hover{
    box-shadow: 0px 0px 10px #999;
}

.finish_order:active,
.delete_order:active,
.reject_payment:active,
.approve_payment:active{
    transform: scale(0.7);
}

.finish_order-hidden{
    display: none;
}

/* DASHBOARD */

#myChart{
    width: 30%; /* Ajusta el ancho al 80% del contenedor padre */
    max-width: 800px; /* Limita el ancho máximo del gráfico */
    margin: 0 auto;
}

/* FOOTER */

#footer{
    width: 100%;
    height: 40px;
    padding: 10px;
    border-top: 1px solid #ccc;
    text-align: center;
}

#footer > p{
    height: 100%;
    font-family: var(--menu-font);
}

