{% extends "layout.html" %}

{% block title %} Panel estadístico {% endblock %}
{% load static %}

{% block content %}
    {% if messages %}

        {% for message in messages %}

            <span id="alert-{{message.tags}}">{{message}}</span>

        {% endfor %}

    {% endif %}
    
    {% if company.status %}
        <h1 id="title" >Ingresa la información para generar tu reporte</h1>
        
        <form id="creation_form" action="" method="post">

            {% csrf_token %}

            <label for="report">Tipo de reporte</label><br>
            <select id="report" name="report">
                <option value="">Selecciona el tipo de reporte deseado</option>
                <option value="ventas finalizadas">Ventas finalizadas</option>
                <option value="ventas finalizadas por gestor">Ventas finalizadas por gestor</option>
                <option value="proyectos activos por gestor">Proyectos activos por gestor</option>
                <option value="proyectos finalizados por gestor">Proyectos finalizados por gestor</option>
                <option value="por proyecto detallado">Por proyecto detallado</option>
            </select>
            <label for="id" class="label_project">Ingresa el proyecto</label><br>
            <input type="text" name="id" placeholder="Ingresa el proyecto a validar" class="input_project"><br>
            <label for="since" class="label_desde">Desde</label><br>
            <input type="date" name="since" placeholder="Fecha inicio" class="input_desde"><br>
            <label for="up_to" class="label_hasta">Hasta</label><br>
            <input type="date" name="up_to" placeholder="Fecha fin" class="input_hasta"><br>

            <input type="submit" value="Generar reporte" class="btn_dashboard">

        </form>

    {% else %}
        <h1 id="title" >Lo siento {{user.first_name}}, tu empresa se encuentra inactiva</h1>
    {% endif %}
    
    <script type="text/javascript" src="{% static 'js/dashboard_template.js' %}"></script>
    {% endblock %}