{% extends "layout.html" %}

{% block title %} Reenviar pago {% endblock %}

{% block content %}
    {% if messages %}

        {% for message in messages %}

            <span id="alert-{{message.tags}}">{{message}}</span>

        {% endfor %}

    {% endif %}

    {% comment %} {% if company.status %} {% endcomment %}
        
    <h1 id="title" >Reenviar pago rechazado - {{payment.order_id}}</h1>

    <div class="payment__section">
        <div class="payment__information">
            <p class="payment__element payment__element-id"><strong>Caso:</strong> {{payment.order_id}}</p>
            <p class="payment__element payment__element-client"><strong>Cliente:</strong> {{payment.client}}</p>
            <p class="payment__element payment__element-city"><strong>Ciudad:</strong> {{payment.city}}</p>
            <p class="payment__element payment__element-invesment"><strong>Inversión:</strong> {{payment.invesment}}</p>
            <p class="payment__element payment__element-sales_value"><strong>Valor de la venta:</strong> {{payment.sales_value}}</p>
            <p class="payment__element payment__element-service_description"><strong>Descripción:</strong> {{payment.service_description}}</p>
            <p class="payment__element payment__element-in_charge"><strong>Encargado:</strong> {{payment.in_charge}}</p>
            <p class="payment__element payment__element-in_charge"><strong>Destinatario:</strong> {{payment.account_owner}}</p>
            <p class="payment__element payment__element-in_charge"><strong>Banco:</strong> {{payment.bank_account}}</p>
            <p class="payment__element payment__element-in_charge"><strong>Nro de cuenta:</strong> {{payment.account_number}}</p>
            <p class="payment__element payment__element-in_charge"><strong>Tipo de cuenta:</strong> {{payment.type_account}}</p>
            <p class="payment__element payment__element-in_charge"><strong>Valor del pago:</strong> {{payment.amount}}</p>
            <p class="payment__element payment__element-remarks"><strong>Comentarios:</strong> {{payment.comments}}</p>
            <p class="payment__element payment__element-assigned_by"><strong>Realizado por:</strong> {{payment.made_by}}</p>
            <p class="payment__element payment__element-status"><strong>Realizado el:</strong> {{payment.created_at|date:"d/m/Y"}}</p>
            <p class="payment__element payment__element-status"><strong>Rechazado el:</strong> {{payment.rejected_at|date:"d/m/Y"}}</p>
            <p class="payment__element payment__element-status"><strong>Rechazado por:</strong> {{payment.rejected_by}}</p>
        </div>
            
        <form id="creation_form" class="creation_form-rejected_payment" action="" method="post">

            {% csrf_token %}

            <label for="full_name">Selecciona el destinatario</label><br>
            <select id="full_name" name="full_name">
                <option value="">Selecciona el destinatario del pago</option>
                {% if suppliers %}
                    {% for supplier in suppliers %}
                        <option value="{{supplier.full_name}}">{{supplier.full_name|capfirst}}</option>
                    {% endfor %}
                {% endif %}
            </select>
            <br><br>
            <label for="amount">Valor del pago</label><br>
            <input type="text" oninput="validateNumber(this)" name="amount" placeholder="Ingresa el valor del pago" inputmode="numeric"><br>
            <br><br>
            <label for="comments">Comentario</label><br>
            <textarea name="comments", class="textarea", maxlength="135", placeholder="Ingresa algún comentario relacionado al pago", rows="10", cols="20"></textarea>
            <span class="counter">0/135</span>

            <input type="submit" value="Registrar pago">
            <div class="btn_container">
                <a href='{% url "delete-rejected-payment" payment.id %}' class="delete_user" onclick="return confirm('¿Estás seguro de que deseas descartar el pago rechazado?');">Descartar pago</a>
            </div>

        </form>
    </div>
        
    {% comment %} {% else %}
        <h1 id="title" >Lo siento {{user.first_name}}, tu empresa se encuentra inactiva</h1>
    {% endif %} {% endcomment %}
    
{% endblock %}