<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no , initial-scale=1.0">
    <title>{% block title %}

        {% endblock  %} | SMWEB
    </title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link rel="icon" type="favicon/x-icon" href="{% static 'images/logo_smweb.png' %}">
</head>
<body>
    <header id="header">
        <a href="{% url 'inicio' %}" id="logo">
            <img src="{% static 'images/logo_smweb.png' %}" alt="SMWEB" title="Inicio">
            <h1 id="logo_title">Scrum Manager</h1>
        </a>
    </header>
    <nav id="menu" class="hidden_menu">
        <div class="menu_button">
            <div class="menu__element menu__element--1"></div>
            <div class="menu__element menu__element--2"></div>
            <div class="menu__element menu__element--3"></div>
        </div>
        <ul>
            <li>
                <a href="{% url 'inicio' %}">Inicio</a>
            </li>
            {% if user.is_authenticated %}

                {% if company.status %}
                
                    {% if user.rol == 'administrador' %}
                        <li>
                            <a href='{% url "new-user" %}'>Crear usuario</a>
                        </li>
                        <li>
                            <a href='{% url "users" %}'>Gestionar usuarios</a>
                        </li>
                    {% elif user.rol == 'gerente' %}
                        <li>
                            <a href='{% url "dashboard-template" %}'>Estadísticas</a>
                        </li>
                        <li>
                            <a href='{% url "assign-case" %}'>Asignar caso</a>
                        </li>
                        <li>
                            <a href='{% url "users-company" %}'>Ver usuarios</a>
                        </li>
                        <li>
                            <a href='{% url "closed-orders" %}'>Casos finalizados</a>
                        </li>
                        <li>
                            <a href='{% url "invoiced-orders" %}'>Casos facturados</a>
                        </li>
                        <li>
                            <a href='{% url "deleted-orders" %}'>Casos eliminados</a>
                        </li>
                        <li>
                            <a href='{% url "order-payments" %}'>Pagos realizados</a>
                        </li>
                    {% elif user.rol == 'recursos humanos' %}
                        <li>
                            <a href='#'>Gestionar afiliaciones</a>
                        </li>
                        <li>
                            <a href='{% url "new-company-user" %}'>Crear usuario</a>
                        </li>
                        <li>
                            <a href='{% url "users-company" %}'>Ver usuarios</a>
                        </li>
                    {% elif user.rol == 'financiero' %}
                        <li>
                            <a href='{% url "order-payments" %}'>Pagos realizados</a>
                        </li>
                        <li>
                            <a href='#'>Pagos a proveedores</a>
                        </li>
                    {% elif user.rol == 'coordinador' %}
                        <li>
                            <a href='{% url "assign-case" %}'>Asignar caso</a>
                        </li>
                        <li>
                            <a href='{% url "dashboard-template" %}'>Estadísticas</a>
                        </li>
                        <li>
                            <a href='{% url "closed-orders" %}'>Casos finalizados</a>
                        </li>
                        <li>
                            <a href='{% url "deleted-orders" %}'>Casos eliminados</a>
                        </li>
                        <li>
                            <a href='{% url "order-payments" %}'>Pagos realizados</a>
                        </li>
                    {% elif user.rol == 'compras' %}
                        <li>
                            <a href='#'>Gestionar compras</a>
                        </li>
                    {% elif user.rol == 'gestor' %}
                        <li>
                            <a href='#'>Pagos</a>
                        </li>
                        
                        <li>
                            <a href='#'>Compras</a>
                        </li>

                        <li>
                            <a href='#'>Afiliaciones</a>
                        </li>
                        <li>
                            <a href='{% url "closed-orders" %}'>Casos finalizados</a>
                        </li>
                    {% elif user.rol == 'facturacion' %}
                        <li>
                            <a href='{% url "invoiced-orders" %}'>Casos facturados</a>
                        </li>
                    {% endif %}
                {% endif %}
                <li>
                    <a href='{% url "logout" %}'>Cerrar sesión</a>
                </li>
            {% else %}
                <li>
                    <a href="{% url 'login' %}">Iniciar sesión</a>
                </li>
            {% endif %}
        </ul>
    </nav>
    
    <section id="content">
        
        {% block content %}
        


        {% endblock %}

    </section>

    <footer id="footer"> 
        <p>
            &copy;GRODEVELOPERS Derechos reservados 2024
        </p>
    </footer>
    
    <script type="text/javascript" src="{% static 'js/menu.js' %}"></script>
</body>
</html>