<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no , initial-scale=1.0">
    <title>{% block title %}

        {% endblock  %} | SMWEB
    </title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link rel="icon" type="favicon/x-icon" href="{% static 'images/logo_smweb.png' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=M+PLUS+Rounded+1c:wght@100;300;400;500;700;800;900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet"><body>
    <header id="header">
        <a href="{% url 'inicio' %}" id="logo">
            <img src="{% static 'images/logo_smweb.png' %}" alt="SMWEB" title="Inicio">
            <h1 id="logo_title">Scrum Manager</h1>
        </a>
    </header>
    <nav id="menu" class="hidden_menu">
        <div class="menu_button">
            {% if notifies %}
                <div class="notifies">
                    {{notifies}}
                </div>
            {% endif %}
            <div class="menu__element menu__element--1"></div>
            <div class="menu__element menu__element--2"></div>
            <div class="menu__element menu__element--3"></div>
        </div>
        <ul>
            <li>
                <a href="{% url 'inicio' %}">Inicio</a>
            </li>
            {% if user.is_authenticated %}

                {% comment %} {% if company.status %} {% endcomment %}
                
                {% if user.is_staff %}
                    <li>
                        <a href='{% url "new-user" %}'>Crear usuario</a>
                    </li>
                    <li>
                        <a href='{% url "users" %}'>Gestionar usuarios</a>
                    </li>
                {% elif user.rol == 'gerente' %}
                    <li>
                        <a href='{% url "dashboard-template" %}'>Estadísticas</a>
                    </li>
                    <li>
                        <a href='{% url "assign-case" %}'>Asignar caso</a>
                    </li>
                    <li>
                        <a href='{% url "users-company" %}'>Ver usuarios</a>
                    </li>
                    <li>
                        <a href='{% url "closed-orders" %}'>Casos finalizados</a>
                    </li>
                    <li>
                        <a href='{% url "invoiced-orders" %}'>Casos facturados</a>
                    </li>
                    <li>
                        <a href='{% url "deleted-orders" %}'>Casos descartados</a>
                    </li>
                    {% if received_payments > 0 %}
                        <li id="notification">
                            <div class="notify">
                                {{received_payments}}
                            </div>
                            <a href='{% url "order-payments" %}'>Pagos recibidos</a>
                        </li>
                    {% else %}
                        <li>
                            <a href='{% url "order-payments" %}'>Pagos recibidos</a>
                        </li>
                    {% endif %}                        
                    <li>
                        <a href='{% url "approved-payments" %}'>Pagos aprobados</a>
                    </li>
                    <li>
                        <a href='{% url "rejected-payments" %}'>Pagos rechazados</a>
                    </li>
                    <li>
                        <a href='{% url "deleted-payments" %}'>Pagos rechazados descartados</a>
                    </li>
                    {% comment %} {% if received_affiliations > 0 %}
                        <li id="notification">
                            <div class="notify">
                                {{received_affiliations}}
                            </div>
                            <a href='{% url "order-affiliations" %}'>Afiliaciones recibidas</a>
                        </li>
                    {% else %}
                        <li>
                            <a href='{% url "order-affiliations" %}'>Afiliaciones recibidas</a>
                        </li>
                    {% endif %}
                    <li>
                        <a href='{% url "rejected-affiliations" %}'>Afiliaciones rechazadas</a>
                    </li> {% endcomment %}
                {% elif user.rol == 'recursos humanos' %}
                    {% comment %} {% if received_affiliations > 0 %}
                        <li id="notification">
                            <div class="notify">
                                {{received_affiliations}}
                            </div>
                            <a href='{% url "order-affiliations" %}'>Afiliaciones recibidas</a>
                        </li>
                    {% else %}
                        <li>
                            <a href='{% url "order-affiliations" %}'>Afiliaciones recibidas</a>
                        </li>
                    {% endif %}
                    <li>
                        <a href='{% url "rejected-affiliations" %}'>Afiliaciones rechazadas</a>
                    </li>
                    <li>
                        <a href='{% url "approved-affiliations" %}'>Afiliaciones aprobadas</a>
                    </li> {% endcomment %}
                    <li>
                        <a href='{% url "new-company-user" %}'>Crear usuario</a>
                    </li>
                    <li>
                        <a href='{% url "users-company" %}'>Ver usuarios</a>
                    </li>
                {% elif user.rol == 'financiero' %}
                    {% if received_payments > 0 %}
                        <li id="notification">
                            <div class="notify">
                                {{received_payments}}
                            </div>
                            <a href='{% url "order-payments" %}'>Pagos recibidos</a>
                        </li>
                    {% else %}
                        <li>
                            <a href='{% url "order-payments" %}'>Pagos recibidos</a>
                        </li>
                    {% endif %}
                    <li>
                        <a href='{% url "approved-payments" %}'>Pagos aprobados</a>
                    </li>
                    <li>
                        <a href='{% url "rejected-payments" %}'>Pagos rechazados</a>
                    </li>
                    <li>
                        <a href='{% url "deleted-payments" %}'>Pagos rechazados descartados</a>
                    </li>
                    <li>
                        <a href='{% url "create-supplier" %}'>Crear proveedor</a>
                    </li>
                    <li>
                        <a href='{% url "suppliers-company" %}'>Ver proveedores</a>
                    </li>
                {% elif user.rol == 'coordinador' %}
                    <li>
                        <a href='{% url "assign-case" %}'>Asignar caso</a>
                    </li>
                    <li>
                        <a href='{% url "closed-orders" %}'>Casos finalizados</a>
                    </li>
                    <li>
                        <a href='{% url "order-payments" %}'>Pagos recibidos</a>
                    </li>
                    <li>
                        <a href='{% url "approved-payments" %}'>Pagos aprobados</a>
                    </li>
                    <li>
                        <a href='{% url "rejected-payments" %}'>Pagos rechazados</a>
                    </li>
                    <li>
                        <a href='{% url "deleted-payments" %}'>Pagos rechazados descartados</a>
                    </li>
                {% elif user.rol == 'gestor' %}
                    <li>
                        <a href='{% url "closed-orders" %}'>Casos finalizados</a>
                    </li>
                    <li>
                        <a href='{% url "make-payment" %}'>Pagos proveedores</a>
                    </li>
                    {% comment %} <li>
                        <a href='{% url "make-affiliation" %}'>Afiliar proveedor</a>
                    </li> {% endcomment %}
                    <li>
                        <a href='{% url "user-order-payments" %}'>Pagos enviados</a>
                    </li>
                    <li>
                        <a href='{% url "user-approved-payments" %}'>Pagos aprobados</a>
                    </li>
                    {% if rejected_payments > 0 %}
                        <li id="notification">
                            <div class="notify">
                                {{rejected_payments}}
                            </div>
                            <a href='{% url "user-rejected-payments" %}'>Pagos rechazados</a>
                        </li>
                    {% else %}
                        <li>
                            <a href='{% url "user-rejected-payments" %}'>Pagos rechazados</a>
                        </li>
                    {% endif %}
                    {% comment %} <li>
                        <a href='{% url "user-order-affiliations" %}'>Afiliaciones enviadas</a>
                    </li>
                    {% if rejected_affiliations > 0 %}
                        <li id="notification">
                            <div class="notify">
                                {{rejected_affiliations}}
                            </div>
                            <a href='{% url "user-rejected-affiliations" %}'>Afiliaciones rechazadas</a>
                        </li>
                    {% else %}
                        <li>
                            <a href='{% url "user-rejected-affiliations" %}'>Afiliaciones rechazadas</a>
                        </li>
                    {% endif %}
                    <li>
                        <a href='{% url "user-approved-affiliations" %}'>Afiliaciones aprobadas</a>
                    </li> {% endcomment %}
                {% elif user.rol == 'facturacion' %}
                    <li>
                        <a href='{% url "invoiced-orders" %}'>Casos facturados</a>
                    </li>
                {% endif %}
                {% comment %} {% endif %} {% endcomment %}
                <li>
                    <a href='{% url "logout" %}'>Cerrar sesión</a>
                </li>
            {% else %}
                <li>
                    <a href="{% url 'login' %}">Iniciar sesión</a>
                </li>
            {% endif %}
        </ul>
    </nav>
    
    <section id="content">
        
        {% block content %}
        


        {% endblock %}

    </section>

    <footer id="footer"> 
        <p>
            &copy;GRODEVELOPERS Derechos reservados 2024
        </p>
    </footer>
    
    <script type="text/javascript" src="{% static 'js/menu.js' %}"></script>
</body>
</html>