{% extends "layout.html" %}

{% block title %} Realizar pago {% endblock %}

{% block content %}
    {% if messages %}

        {% for message in messages %}

            <span id="alert-{{message.tags}}">{{message}}</span>

        {% endfor %}

    {% endif %}

    {% if company.status %}
        <h1 id="title" >Realizar pago</h1>
        
        <form id="creation_form" action="" method="post">

            {% csrf_token %}

            <label for="order_id">Número de caso</label><br>
            <input type="text" name="order_id" placeholder="Ingresa el número de caso"><br>
            <br><br>
            <label for="full_name">Selecciona el destinatario</label><br>
            <select id="full_name" name="full_name">
                <option value="">Selecciona el destinatario del pago</option>
                {% if suppliers %}
                    {% for supplier in suppliers %}
                        <option value="{{supplier.full_name}}">{{supplier.full_name|capfirst}}</option>
                    {% endfor %}
                {% endif %}
            </select>
            <br><br>
            <label for="amount">Valor del pago</label><br>
            <input type="text" oninput="validateNumber(this)" name="amount" placeholder="Ingresa el valor del pago" inputmode="numeric"><br>
            <br><br>
            <label for="comments">Comentario</label><br>
            <textarea name="comments", class="textarea", maxlength="135", placeholder="Ingresa algún comentario relacionado al pago", rows="10", cols="20"></textarea>
            <span class="counter">0/135</span>

            <input type="submit" value="Registrar pago">

        </form>

    {% else %}
        <h1 id="title" >Lo siento {{user.first_name}}, tu empresa se encuentra inactiva</h1>
    {% endif %}

    {% load static %}
    <script type="text/javascript" src="{% static 'js/update_order.js' %}"></script>
    <script>
        function validateNumber(input) {
            input.value = input.value.replace(/[^0-9]/g, '');
        }
    </script>
{% endblock %}