{% extends "layout.html" %}

{% block title %} Estadísticas {% endblock %}


{% block content %}
    {% if messages %}

        {% for message in messages %}

            <span id="alert-{{message.tags}}">{{message}}</span>

        {% endfor %}

    {% endif %}
    
    {% if company.status %}
        <h1 id="title" >Estadísticas - {{user.company}}</h1>
        
        <div class="statistics_container">
            <canvas id="casos_activos" width="100" height="100"></canvas>
            <canvas id="casos_finalizados" width="100" height="100"></canvas>
        </div>
        <div class="statistics_container">
            <canvas id="ventas_finalizadas" width="100" height="100"></canvas>
            <canvas id="ventas_totales" width="100" height="100"></canvas>
        </div>

    {% else %}
        <h1 id="title" >Lo siento {{user.first_name}}, tu empresa se encuentra inactiva</h1>
    {% endif %}

    <script src="https://cdn.jsdelivr.net/npm/chart.js@4.4.3/dist/chart.umd.min.js"></script>
    <script>
        const casos_activos = document.getElementById('casos_activos');

        new Chart(casos_activos, {
            type: 'bar',
            data: {
            labels: {{labels_activos|safe}},
            datasets: [{
                label: 'Casos activos',
                data: {{data_activos|safe}},
                backgroundColor: "rgb(0, 195, 255, 0.4)",
                borderWidth: 1,
                borderColor: "rgb(0, 195, 255)"
            }]
            }
        });

        const casos_finalizados = document.getElementById('casos_finalizados');

        new Chart(casos_finalizados, {
            type: 'bar',
            data: {
            labels: {{labels_finalizados|safe}},
            datasets: [{
                label: 'Casos finalizados',
                data: {{data_finalizados|safe}},
                backgroundColor: "rgb(0, 195, 255, 0.4)",
                borderWidth: 1,
                borderColor: "rgb(0, 195, 255)"
            }]
            }
        });

        const ventas_finalizadas = document.getElementById('ventas_finalizadas');

        new Chart(ventas_finalizadas, {
            type: 'bar',
            data: {
            labels: {{labels_ventas_finalizadas|safe}},
            datasets: [{
                label: 'Ventas finalizadas',
                data: {{data_ventas_finalizadas|safe}},
                backgroundColor: "rgb(0, 195, 255, 0.4)",
                borderWidth: 1,
                borderColor: "rgb(0, 195, 255)"
            }]
            }
        });

        const ventas_totales = document.getElementById('ventas_totales');

        new Chart(ventas_totales, {
            type: 'bar',
            data: {
            labels: {{labels_ventas_totales|safe}},
            datasets: [{
                label: 'Ventas totales',
                data: {{data_ventas_totales|safe}},
                backgroundColor: "rgb(0, 195, 255, 0.4)",
                borderWidth: 1,
                borderColor: "rgb(0, 195, 255)"
            }]
            }
        });
        
    </script>
    
    {% endblock %}