{% extends "layout.html" %}

{% block title %} Usuarios de {{user.company}} {% endblock %}

{% block content %}
    {% if messages %}

        {% for message in messages %}

            <span id="alert-{{message.tags}}">{{message}}</span>

        {% endfor %}

    {% endif %}
    
    {% comment %} {% if company.status %} {% endcomment %}
    <h1 id="title" >Bienvenido/a {{user.first_name}} {{user.last_name}}</h1>
    <h2 id="subtitle">Usuarios de {{user.company}}</h2>
    
    <form action="" method="post" class="search_engine">

        {% csrf_token %}
        
        <label for="search">Buscar</label>
        <input type="text" name="search">

        <input type="submit" class="symbol_search" value="L">
        
    </form>

    <section id="users">
        {% if users %}
            <div class="users__column users__column--firstname">
                <h3 class="column__title">Nombres</h3>
                {% for user in users %}
                    <div class="users__element users__element-firstname"><a href="{% url "select-user" user.id %}">{{user.first_name|capfirst}}</a></div>
                {% endfor %}
            </div>
            <div class="users__column users__column--lastname">
                <h3 class="column__title">Apellidos</h3>
                {% for user in users %}
                    <div class="users__element users__element-lastname">{{user.last_name|capfirst}}</div>
                {% endfor %}
            </div>
            <div class="users__column users__column--rol">
                <h3 class="column__title">Cargo</h3>
                {% for user in users %}
                    <div class="users__element users__element-rol">{{user.rol|capfirst}}</div>
                {% endfor %}
            </div>

        {% endif %}
    </section>
    {% comment %} {% else %}
        <h1 id="title" >Lo siento {{user.first_name}}, tu empresa se encuentra inactiva</h1>
    {% endif %}     {% endcomment %}

{% endblock %}